<a href="{{ path('claro_resource_show_short', {'id': notification.details.resource.guid})}}">{{ notification.actionKey|trans({'%wiki%' : notification.details.resource.name, '%section%' : notification.details.section.title}, 'notification') }}</a>
